<form id="addstyle"class="layui-form layui-box" style='padding:25px 30px 20px 0;display: ' action='{:url()}' data-auto="true" method="post">
    <div class="layui-form-item">
        <p class="h2 text-center"></p>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: auto;display: block">电话-手机号码</label>
        <div class="layui-input-block" style="margin-left: 10px">
            <input type="text" name="name" value='' required="required"  autocomplete="off"  title="电话-手机号码" placeholder="电话-手机号码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: auto;display: block"> 客户端类型</label>
        <select class="form-control" id="client_type" name="client_type" style=" display: block;    width: 90%;    margin: 10px 10px;">
            <option value="0">货主端</option>
            <option value="1">司机端</option>
        </select>
    </div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
    </div>
</form>