{extend name='extra@admin/content' /}

{block name="style"}
<link href="//cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.css" rel="stylesheet">
{/block}
{block name="button"}

{/block}

{block name="content"}
<div class="head_box">
    <span href="javascript:void(0);">文章管理</span>
    <span> >> </span>
    <span href="javascript:void(0);">系统消息</span>
</div>


<!-- 表单搜索 开始 -->
<form class="animated form-search" action='{:url("$classuri/index")}' onsubmit="return false" method="get"
      style="margin-top:10px">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="title" id="title" value="{$Think.get.name|default=''}" placeholder="名称"
                       class="input-sm form-control" autocomplete="off">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control " id="type" name="type">
                    <option value="all">客户端类型</option>
                    <option value="0">货主端</option>
                    <option value="1">司机端</option>
                </select>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-white" id="searchVal"><i class="fa fa-search"></i> 搜索
                </button>
            </div>
        </div>
        <div class="nowrap pull-right" style="">
            <a type="button" class="layui-btn layui-btn-small" data-open='{:url("$classuri/addueditor")}'
               data-title="添加系统消息"><i
                    class="fa fa-plus"></i> 添加系统消息</a>
            <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
                    class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除系统消息
            </button>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->
<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table id="example" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-center'>标题</th>
            <th class='text-center'>客户端</th>
            <th class='text-center'>内容</th>
            <th class='text-center'>当前状态</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</form>
{/block}

{block name="script"}
<script>
    require(["jquery.dataTables", "icheck", "laydate"], function () {
        require(["dataTables.bootstrap"], function () {
            $(document).ready(function () {
                initPage();
                initEvent();
            });
        })
    });

    function initPage() {

//        $('input').iCheck({
//            checkboxClass: 'icheckbox_minimal',
//            radioClass: 'iradio_minimal',
//            increaseArea: '20%' // optional
//        });

        //时间日期选择器
        $(".date_time").focus(function () {
            /*
             laydate插件提供显示日期控件的方法
             laydate(options)
             * options - 选项,格式为 { key : value }
             * 选项
             * format - 日期格式
             *
             默认格式为 YYYY-MM-DD hh:mm:ss(标准格式)
             * 客户端
             * 服务器端
             * 数据库
             * istime - 是否开启时间选择
             * 默认值为false,不开启
             * isclear - 是否显示清空按钮
             * istoday - 是否显示今天按钮
             * issure - 是否显示确认按钮
             */
            laydate({
                format: "YYYY-MM-DD",
                istime: true,
                isclear: true,
                istoday: true,
                issure: true
            });
        });


        var table = $('#example').DataTable({
            //paging: false, 设置是否分页
            "info": true,  //去除左下角的信息
            "lengthChange": false, //是否允许用户改变表格每页显示的记录数
            "ordering": false, //是否允许Datatables开启排序
            "searching": false,  //是否允许Datatables开启本地搜索
            language: {
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "sEmptyTable": "暂无数据",
                "info": "当前总记录数_TOTAL_条",
                "sInfoEmpty": "当前总记录数_TOTAL_条",
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '{:url("Message/getMessageList")}',
                "type": "POST",
                "data": function (parameter) {
                    //添加额外的参数传给服务器
                    parameter.title = $("#title").val();
                    parameter.type = $("#type").val();
                },
            },
            "pageLength": 10,
            "columns": [
                {"data": "check"},
                {"data": "title"},
                {"data": "typename"},
                {"data": "content"},
                {"data": "is_del"},
                {"data": "action"},
            ],
            "drawCallback": function (settings) {
                //console.log(settings.json.recordsFiltered);
                $("#totalnum").html(settings.json.recordsFiltered);
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $('td:eq(0)', nRow).addClass('list-table-check-td');
                $('td:eq(1)', nRow).addClass('text-center');
                $('td:eq(2)', nRow).addClass('text-center');
                $('td:eq(3)', nRow).addClass('text-center');
                $('td:eq(4)', nRow).addClass('text-center');
            }
        });

        $("#searchVal").on('click', function () {
            //console.log(orderTables);
            table.ajax.reload();
        })

        // tr点击选中事件
        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('warning');
        });

        //删除
        $('#remove_btn').click(function () {
            table.rows('.warning').remove().draw(false);
        });
    }

    function initEvent() {
        var checkAll = $('input.all');  //全选的input
        var checkboxs = $('input.check'); //所有单选的input

        checkAll.on('ifChecked ifUnchecked', function (event) {
            if (event.type == 'ifChecked') {
                checkboxs.iCheck('check');
            } else {
                checkboxs.iCheck('uncheck');
            }
        });

        checkboxs.on('ifChanged', function (event) {
            if (checkboxs.filter(':checked').length == checkboxs.length) {
                checkAll.prop('checked', true);
            } else {
                checkAll.prop('checked', false);
            }
            checkAll.iCheck('update');
        })
    }

</script>
{/block}



