{extend name='extra@admin/content' /}

{block name="button"}

{/block}
{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
<link rel="stylesheet" href="/static/admin/main/resources/css/jquery-ui-themes.css?ver={:date('ymd')}">
<link rel="stylesheet" href="/static/admin/main/resources/css/axure_rp_page.css?ver={:date('ymd')}">
<link rel="stylesheet" href="/static/admin/main/data/styles.css?ver={:date('ymd')}">
<link rel="stylesheet" href="/static/admin/main/files/index/styles.css?ver={:date('ymd')}">
<style>
    .chart_u li{
        float: left;
        margin-right: 118px;
        margin-top: 15px;
        width: 300px;
        height: auto;
        text-align: center;
        padding: 5px;
    }
    .chart_u .col_b{
        height: 150px;
        line-height: 160px;
        color: #ffffff;
        font-size: 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .chart_u .info_b{
        height: 50px;
        border: 1px solid #dddddd;
        border-top: none;
        padding-top: 5px;
        color: #666;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .chart_u .info_b section{
        float: left;
        width: 50%;
        height: 100%;
    }
    .chart_u .info_b section:nth-of-type(1){
        border-right: 1px solid #dddddd;
    }
    .chart_u .info_b .p_title{
        font-size: 14px;
        margin: 0;
    }
    .chart_u .info_b .p_limit{
        font-size: 15px;
        font-weight: 600;
        color: #333;
        margin: 0;
    }
    .undeal{
        width: 200px;
        height: 200px;
        float: left;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(201, 201, 201, 1);

        margin-left: 10px;
        border-radius:1px;
        -moz-box-shadow: 5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
        -webkit-box-shadow: 5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
        box-shadow: 5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
    }
    .undeal div{
        text-align: center;
        margin: 60px;
        font-size: 14px;
        font-weight: bold;
    }
</style>
{/block}
{block name="content"}
<div id="base" class="">
    <div>
        <img src="/static/admin/main/images/index/total.png">
    </div>
    <ul class="chart_u" style="overflow: hidden;display: block">
        <li>
            <div class="col_b" style="background: #63c2eb;">交易额统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周总交易额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.tran_total_7d}</span>
                    </p>
                </section>
                <section>
                    <p class="p_title">今日交易额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.tran_total_today}</span>
                    </p>
                </section>
            </div>
        </li>
        <li>
            <div class="col_b" style="background: #28b878;">订单数统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周总订单数</p>
                    <p class="p_limit">
                       <span>{$list.order_amount_7d}</span>笔
                    </p>
                </section>
                <section>
                    <p class="p_title">   今日总订单数        </p>
                    <p class="p_limit">
                         <span>{$list.order_amount_today}</span>笔
                    </p>
                </section>
            </div>
        </li>
        <li>
            <div class="col_b" style="background: #842c98;">提现额统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周总提现额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.withdrawtotal7d}</span>
                    </p>
                </section>
                <section>
                    <p class="p_title">今日提现额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.withdrawtotal}</span>
                    </p>
                </section>
            </div>
        </li>
        <li>
            <div class="col_b" style="background: #ff3393;">结算额统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周总结算额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.cleartotal7d}</span>
                    </p>
                </section>
                <section>
                    <p class="p_title">今日结算额</p>
                    <p class="p_limit">
                        ￥ : <span>{$list.cleartotal}</span>
                    </p>
                </section>
            </div>
        </li>
        <li>
            <div class="col_b" style="background: #ffb847;">货主端新用户统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周货主端会员增加</p>
                    <p class="p_limit">
                        <span>{$list.spnew7d}</span>个
                    </p>
                </section>
                <section>
                    <p class="p_title">今日货主端会员增加</p>
                    <p class="p_limit">
                         <span>{$list.spnew}</span>个
                    </p>
                </section>
            </div>
        </li>
        <li>
            <div class="col_b" style="background: #4A708B;">司机端新用户统计</div>
            <div class="info_b">
                <section>
                    <p class="p_title">本周司机端会员增加</p>
                    <p class="p_limit">
                         <span>{$list.drnew7d}</span>个
                    </p>
                </section>
                <section>
                    <p class="p_title">今日司机端会员增加</p>
                    <p class="p_limit">
                        <span>{$list.drnew}</span>个
                    </p>
                </section>
            </div>
        </li>
    </ul>
    <div style="margin-top: 50px">
        <img src="/static/admin/main/images/index/undeal.png">
    </div>
    <div class="undeal" data-open='{:url("financial/unbalancedAccount")}'>
        <div>
            <span>支付凭证待审核</span>
            <p><span>{$list.unclearnum}</span>笔</p>
        </div>

    </div>
    <div class="undeal" style=" margin-left: 30px;"  data-open='{:url("withdraw/index")}' >
        <div>
        <span>提现待审核</span>
        <p><span>{$list.unwithdraw}</span>笔</p>
        </div>
    </div>
    <div class="undeal" style=" margin-left: 30px;"  data-open='{:url("shipper/index")}?type=person'>
        <div>
        <span>待审核货主</span>
        <p><span>{$list.spchecknum}</span>个</p>
        </div>
    </div>
    <div class="undeal" style=" margin-left: 30px;" data-open='{:url("driver/index")}' >
        <div>
        <span>待审核司机</span>
        <p><span>{$list.drchecknum}</span>个</p>
        </div>
    </div>
</div>
{/block}