{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="style"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">司机管理</a>
        <span> >> </span>
        <a href="javascript:void(0);">车长设置</a>
    </div>
    <div class="con_box">
        <h1 class="h1">车长
            <p class="vehicle">
                <button type="button" class="layui-btn layui-btn-small"   data-modal='{:url("$classuri/carlengthadd")}'   data-title="添加车长"><i class="fa fa-plus"></i>  添加车长</button>
                <button data-update data-field='' data-value="1" data-action='{:url("$classuri/carlengthdel")}'
                        class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除车长
                </button>
            </p>
        </h1>
        <div >
            <span style="color:red">*删除车长表示前端不展示</span>
        </div>
        <div class="velength_table">
            <table id="example" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th class='list-table-check-td'>
                        <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                    </th>
                    <th>车长</th>
                    <th>起步价</th>
                    <th>起步公里数</th>
                    <th>超出起步公里费</th>
                    <th>计重费</th>
                    <th>当前状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='plist'}
                <tr>
                    <td><input class="list-check-box" value="{$plist.id}" type="checkbox"/></td>
                    <td>{$plist.name}</td>
                    <td>{$plist.init_price}</td>
                    <td>{$plist.init_kilometres}</td>
                    <td>{$plist.over_metres_price}元/公里</td>
                    <td>{$plist.weight_price}元/公里/公斤</td>
                    <td>{if $plist.status eq 0}正常{else /}删除{/if}</td>
                    <td>  <a  data-modal='{:url("$classuri/carlengthadd")}?id={$plist.id}'   data-title="编辑车长">编辑</a> |
                        {if $plist.status eq 0} <a   data-update="{$plist.id}" data-value="1" data-field="status" data-action='{:url("$classuri/carlengthdel")}'     data-title="确认删除吗">删除</a>{else /}
                        <a data-update="{$plist.id}"  data-value="0" data-field="status" data-action='{:url("$classuri/carlengthdel")}'     data-title="确认开启吗">开启</a>{/if}
                        </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
  require(["jquery.dataTables"], function () {
    require(["dataTables.bootstrap"], function () {
      $(document).ready(function () {
        initPage();
      });
    })
  });

  function initPage(){
    // tr点击选中事件
    $('#example tbody').on( 'click', 'tr', function () {
      $(this).toggleClass('warning');
    });

  }

</script>
{/block}
