{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <span href="javascript:void(0);">司机管理</span>
        <span> >> </span>
        <span href="javascript:void(0);">车型设置</span>
    </div>
    <div class="con_box">
        <h1 class="h1">车型
            <p class="vehicle">

                <button type="button" class="layui-btn layui-btn-small" data-modal='{:url("$classuri/carstyleadd")}'><i
                        class="fa fa-plus"></i>新增车型</button>
                <button data-update data-field='' data-value="1" data-action='{:url("$classuri/carstyledel")}'
                        class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 禁用车型
                </button>
                <!--<button type="button" class="layui-btn layui-btn-small layui-btn-danger" id="rem_vehicle">选中车型显示</button>-->
            </p>
        </h1>
        <div >
            <span style="color:red">*禁用车型表示前端不展示</span>
        </div>
        <form onsubmit="return false;" data-auto="" method="POST" style="width: 60%">
            <input type="hidden" value="resort" name="action"/>
            <div class="velength_table" >
                <table id="example" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class='list-table-check-td'>
                            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                        </th>
                        <th class='list-table-sort-td'>
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-mini">排 序</button>
                        </th>
                        <th>车长</th>
                        <th>当前状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='list' id='plist'}
                    <tr>
                        <td><input class="list-check-box" value="{$plist.id}" type="checkbox"/></td>
                        <td class='list-table-sort-td'>
                            <input name="_{$plist.id}" value="{$plist.sort}" class="list-sort-input"/>
                        </td>
                        <td>{$plist.name}</td>
                        <td>{if $plist.status eq 0}正常{else /}禁用{/if}</td>
                        <td>
                            <!--<a data-modal='{:url("$classuri/carlengthadd")}?id={$plist.id}' data-title="编辑车长">编辑</a> |-->
                            {if $plist.status eq 0} <a data-update="{$plist.id}" data-value="1" data-field="status"
                                                       data-action='{:url("$classuri/carstyledel")}'
                                                       data-title="确认禁用吗">禁用</a>{else /}
                            <a data-update="{$plist.id}" data-value="0" data-field="status"
                               data-action='{:url("$classuri/carstyledel")}' data-title="确认开启吗">开启</a>{/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </form>





    </div>

</main>
{/block}

{block name="script"}
<script>
  require(["icheck"], function () {
      $(document).ready(function () {
        initPage();
        initEvent();
      });
  });
  
  function initPage(){

  }
  
  function initEvent(){

      $('#add_vehicle').click(function () {
          $("#addstyle").show();
      });
      //禁用
      $('#rem_vehicle').click(function () {
          var text="";
          $("input[name=checkname]").each(function() {
              if ($(this).is(':checked')) {
                  text += ","+$(this).val();
              }
          });
          $.ajax({
              'url' : '{:url("Driver/carstyledel")}',
              'type' : 'POST',
              'data' : {
                  'allid':text
              },
              'complete' : function(){
              },
              'success' : function(obj){
                  layer.closeAll();
                  if(obj.code == 2000){
                      layer.msg('修改成功');
                      location.reload();
                  }else{
                      layer.alert(obj.msg);
                  }
              },
              'error' : function(){
                  layer.closeAll();
                  layer.alert('请求失败');
              }
          });
      });




    
  }

</script>
{/block}
