{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">车型设置</a>
    </div>
    <div class="con_box">
        <h1 class="h1">车型
            <p class="vehicle">
                <button type="button" class="btn btn-info" data-modal='{:url("$classuri/carstyleadd")}'>新增</button>
                <button type="button" class="btn btn-info" id="rem_vehicle">选中车型显示</button>
            </p>
        </h1>
        <div class="ve_con">
            {volist name='carstyle' id='pcarstyle'}
            <span class="ve_type">
                <input type="checkbox" name="checkname" id="check{$pcarstyle.id}" value="{$pcarstyle.id}" {if $pcarstyle.status eq 0}checked="true"{/if}  >
                {$pcarstyle.name}
            </span>
            {/volist}
        </div>
    </div>

</main>
{/block}

{block name="script"}
<script>
  require(["icheck"], function () {
      $(document).ready(function () {
        initPage();
        initEvent();
      });
  });
  
  function initPage(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal',
      radioClass: 'iradio_minimal',
      increaseArea: '20%' // optional
    });
  }
  
  function initEvent(){

      $('#add_vehicle').click(function () {
          $("#addstyle").show();
      });
      //删除
      $('#rem_vehicle').click(function () {
          var text="";
          $("input[name=checkname]").each(function() {
              if ($(this).is(':checked')) {
                  text += ","+$(this).val();
              }
          });
          $.ajax({
              'url' : '{:url("Driver/carstyledel")}',
              'type' : 'POST',
              'data' : {
                  'allid':text
              },
              'complete' : function(){
              },
              'success' : function(obj){
                  layer.closeAll();
                  if(obj.code == 2000){
                      layer.msg('修改成功', function(){
                          location.reload();
                      });
                  }else{
                      layer.alert(obj.msg);
                  }
              },
              'error' : function(){
                  layer.closeAll();
                  layer.alert('请求失败');
              }
          });
      });




    
  }

</script>
{/block}
