{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">车型设置</a>
    </div>
    <div class="con_box">
        <h1 class="h1">车型
            <p class="vehicle">
                <button type="button" class="btn btn-info" id="add_vehicle">新增</button>
                <button type="button" class="btn btn-info" id="rem_vehicle">删除</button>
            </p>
        </h1>
        <div class="ve_con">
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span><span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
            <span class="ve_type">
                <input type="checkbox">
                车型一
            </span>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
  require(["icheck"], function () {
      $(document).ready(function () {
        initPage();
        initEvent();
      });
  });
  
  function initPage(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal',
      radioClass: 'iradio_minimal',
      increaseArea: '20%' // optional
    });
  }
  
  function initEvent(){
    
  }

</script>
{/block}
