{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">司机管理</a>
        <span> >> </span>
        <a href="javascript:void(0);">司机列表</a>
        <span> >> </span>
        <a href="javascript:void(0);">司机详情</a>
    </div>
    <div class="con_box">
        <p class="p_tit"><span class="glyphicon glyphicon-align-justify"></span>司机详情</p>
        <div class="details_box">
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>企业信息</h3>
                <span class="hr_span"></span>
            </div>
            <div class="info_table">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">姓名</td>
                        <td class="col-sm-6">{$item.name|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">性别</td>
                        <td class="col-sm-6">{$item.sexname|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">身份证号</td>
                        <td class="col-sm-6">{$item.number|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">地址</td>
                        <td class="col-sm-6">{$item.address|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">物流类型</td>
                        <td class="col-sm-6">{$item.logisticstype|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">手机号码</td>
                        <td class="col-sm-6">{$item.phone}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="auth_box">
                    <section class="auth_img">
                        {if isset($item.personholdpic) && $item.personholdpic neq ''}
                        <img src="{$item.personholdpic}" alt="手持身份证照">
                        {else/}
                        手持身份证照
                        {/if}
                    </section>
                </div>
            </div>
        </div>
        <div class="authentication">
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>身份认证</h3>
                <span class="hr_span"></span>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.personfrontpic) && $item.personfrontpic neq ''}
                    <img src="{$item.personfrontpic}" alt="身份证正面照">
                    {else/}
                    身份证正面照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.personbackpic) && $item.personbackpic neq ''}
                    <img src="{$item.personbackpic}" alt="身份证反面照">
                    {else /}
                    身份证反面照
                    {/if}
                </section>
            </div>
        </div>
        <div class="authentication">
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>车辆认证</h3>
                <span class="hr_span"></span>
            </div>
            <div class="info_table">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">车型</td>
                        <td class="col-sm-6">{$item.car_type|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">车长</td>
                        <td class="col-sm-6">{$item.car_length|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">载重</td>
                        <td class="col-sm-6">{$item.weight|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">可载体积</td>
                        <td class="col-sm-6">{$item.volume|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">车牌号</td>
                        <td class="col-sm-6">{$item.card_number|default=''}</td>
                    </tr>

                    <tr>
                        <td class="col-sm-6">营运证开始日期</td>
                        <td class="col-sm-6">{if isset($item.operation_startline) && $item.operation_startline neq  ''}{$item.operation_startline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">营运证截止日期</td>
                        <td class="col-sm-6">{if isset($item.operation_deadline) && $item.operation_deadline neq  ''}{$item.operation_deadline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">保单开始日期</td>
                        <td class="col-sm-6">{if isset($item.policy_startline) && $item.policy_startline neq  ''}{$item.policy_startline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">保单截止日期</td>
                        <td class="col-sm-6">{if isset($item.policy_deadline) && $item.policy_deadline neq  ''}{$item.policy_deadline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">行驶证开始日期</td>
                        <td class="col-sm-6">{if isset($item.license_startline) && $item.license_startline neq ''}{$item.license_startline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">行驶证截止日期</td>
                        <td class="col-sm-6">{if isset($item.license_deadline) && $item.license_deadline neq ''}{$item.license_deadline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">驾驶证开始日期</td>
                        <td class="col-sm-6">{if isset($item.driving_startline) && $item.driving_startline neq ''}{$item.driving_startline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">驾驶证截止日期</td>
                        <td class="col-sm-6">{if isset($item.driving_deadline) && $item.driving_deadline neq ''}{$item.driving_deadline|date='Y-m-d',###}{/if}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.index_pic) && $item.index_pic neq ''}
                    <img src="{$item.index_pic}" alt="车头和车牌号码照">
                    {else /}
                    车头和车牌号码照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.driving_licence_pic) && $item.driving_licence_pic neq '' }
                    <img src="{$item.driving_licence_pic}" alt="驾驶证照">
                    {else/}
                    驾驶证照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.vehicle_license_pic) && $item.vehicle_license_pic neq ''}
                    <img src="{$item.vehicle_license_pic}" alt="行驶证照">
                    {else/}
                    行驶证照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.policy_pic) && $item.policy_pic neq ''}
                    <img src="{$item.policy_pic}" alt="保险单照">
                    {else /}
                    保险单照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.operation_pic) && $item.operation_pic neq ''}
                    <img src="{$item.operation_pic}" alt="运营证照">
                    {else/}
                    运营证照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_btn">
                    {if condition="$item.auth_status eq 'check' "}
                    <button type="button" class="btn btn-primary" id="pass">通过审核</button>
                    <button type="button" class="btn btn-primary" id="refuse" data-reason="确定拒绝审核？">拒绝审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">冻结账户</button>
                    {/if}
                    {if  condition="$item.auth_status eq 'pass'"}
                    <button type="button" class="btn btn-primary">已经通过审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">拒绝审核</button>
                    {if condition="$item.bond_status eq 'init'"}
                    <button type="button" class="btn btn-primary" id="frozen" data-reason="确定冻结账户？">冻结账户</button>
                    {/if}
                    {if condition="$item.bond_status eq 'frozen'"}
                    <button type="button" class="btn btn-primary" id="unfrozen" data-reason="确定取消冻结账户？">取消冻结账户</button>
                    {/if}
                    {/if}
                    {if condition="$item.auth_status eq 'refuse'"}
                    <button type="button" class="btn btn-primary" disabled="disabled">通过审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">{$item.auth_info}</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">冻结账户</button>
                    {/if}
                    {if condition="$item.is_black eq '0'"}
                    <button type="button" class="btn btn-primary" id="black" data-reason="确定加入黑名单？">加入黑名单</button>
                    {else /}
                    <button type="button" class="btn btn-primary" id="unblack" data-reason="确定拉回白名单？">拉回白名单</button>
                    {/if}
                </section>
            </div>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    //调用示例
    layer.photos({
        photos: '.auth_img'
        , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
</script>
<script>
    var detailid = '{$id}';
    $("#pass").click(function () {
        layer.confirm('是否通过审核', {
            btn: ['确定', '取消']
        }, function (index) {
            layer.close(index);
            layer.load();
            $.ajax({
                'url': '{:url("Driver/pass")}',
                'type': 'POST',
                'data': {
                    'id': detailid
                },
                'complete': function () {
                },
                'success': function (obj) {
                    layer.closeAll();
                    if (obj.code == 2000) {
                        layer.msg('操作成功');
                        location.reload();
                    } else {
                        layer.alert(obj.msg);
                    }
                },
                'error': function () {
                    layer.closeAll();
                    layer.alert('请求失败');
                }
            });
        });
    })
    $("#black,#unblack,#unfrozen,#frozen,#refuse").click(function () {
        var titile = $(this).attr('data-reason');
        var type = $(this).attr('id');
        layer.prompt({
            formType: 0,
            value: '',
            title: titile,
        }, function (value, index, elem) {
            //alert(value); //得到value
            layer.close(index);
            layer.load();
            $.ajax({
                'url': '{:url("Driver/auth")}',
                'type': 'POST',
                'data': {
                    'id': detailid,
                    'type': type,
                    'title': value,
                    'phone': '{$item.phone}'
                },
                'complete': function () {
                },
                'success': function (obj) {
                    layer.closeAll();
                    if (obj.code == 2000) {
                        layer.msg('操作成功');
                        location.reload();
                    } else {
                        layer.alert(obj.msg);
                    }
                },
                'error': function () {
                    layer.closeAll();
                    layer.alert('请求失败');
                }
            });
        });
    })
</script>
{/block}
