{extend name='extra@admin/content' /}

{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
{/block}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">财务管理</a>
        <span> >> </span>
        <a href="javascript:void(0);">充值记录</a>
    </div>
    <div class="con_box">
        <h1 class="h1">充值记录 <span>（共<b id="totalnum">0</b>条）</span></h1>
        <div class="operate_box">
            <form class="form-inline">
                <div class="form-group mr_20">
                    <input type="text" class="form-control mr_20" placeholder="手机号码" id="phone" name="phone">
                    <input type="text" class="form-control mr_20" placeholder="用户名" id="name" name="name">
                    <input type="text" style="min-width: 220px;" class="date_time form-control" placeholder="充值时间"
                           id="paytime" name="paytime">
                    <select class="form-control mr_20" id="type" name="type">
                        <option value="all">用户身份</option>
                        <option value="0">个人货主</option>
                        <option value="1">公司货主</option>
                    </select>
                    <select class="form-control" id="payway" name="payway">
                        <option value="all">充值路径</option>
                        <option value="2">微信</option>
                        <option value="1">支付宝</option>
                        <!--<option>银联</option>-->
                    </select>
                </div>
                <button type="button" class="btn btn-primary" id="searchVal">搜索</button>
            </form>
            <div class="operate_tab">
                <div class="operate_tab_btn">
                    <button type="button" class="btn btn-info" id="excel_out">导出excel</button>
                </div>
                <div class="operate_table">
                    <table id="example" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th><input class="all" type="checkbox"></th>
                            <th>手机号码</th>
                            <th>真实姓名</th>
                            <th>用户身份</th>
                            <th>充值时间</th>
                            <th>充值路径</th>
                            <th>充值金额</th>
                            <th>账户余额</th>
                            <th>支付状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    require(["jquery.dataTables", "laydate", "icheck"], function () {
        require(["dataTables.bootstrap"], function () {
            $(document).ready(function () {
                initPage();
                initEvent();
            });
        })
    });
    function initPage() {

        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%' // optional
        });

        //时间日期选择器
        $(".date_time").focus(function () {
            /*
             laydate插件提供显示日期控件的方法
             laydate(options)
             * options - 选项,格式为 { key : value }
             * 选项
             * format - 日期格式
             *
             默认格式为 YYYY-MM-DD hh:mm:ss(标准格式)
             * 客户端
             * 服务器端
             * 数据库
             * istime - 是否开启时间选择
             * 默认值为false,不开启
             * isclear - 是否显示清空按钮
             * istoday - 是否显示今天按钮
             * issure - 是否显示确认按钮
             */
            laydate({
                format: "YYYY-MM-DD",
                istime: true,
                isclear: true,
                istoday: true,
                issure: true
            });
        });

        var table = $('#example').DataTable({
            //paging: false, 设置是否分页
            "info": false,  //去除左下角的信息
            "lengthChange": false, //是否允许用户改变表格每页显示的记录数
            "ordering": false, //是否允许Datatables开启排序
            "searching": false,  //是否允许Datatables开启本地搜索
            language: {
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '{:url("Financial/getRechargeList")}',
                "type": "POST",
                "data": function (parameter) {
                    //添加额外的参数传给服务器
                    parameter.type = $("#type").val();
                    parameter.name = $("#name").val();
                    parameter.phone = $("#phone").val();
                    parameter.paytime = $("#paytime").val();
                    parameter.payway = $("#payway").val();
                    parameter.status = $("#status").val();
                },
            },
            "pageLength": 1,
            "columns": [
                {"data": "id"},
                {"data": "phone"},
                {"data": "name"},
                {"data": "type"},
                {"data": "paytime"},
                {"data": "payway"},
                {"data": "amount"},
                {"data": "balance"},
                {"data": "status"},
                {"data": "action"},
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data) {
                        //var url = '{:url(\'Order/detail\')}?id='+data;
                        return '<input class="check" type="checkbox">';
                    }
                }
            ],
            "drawCallback": function (settings) {
                //console.log(settings.json.recordsFiltered);
                $("#totalnum").html(settings.json.recordsFiltered);
            },
        });

        $("#searchVal").on('click', function () {
            //console.log(orderTables);
            table.ajax.reload();
        })
        // tr点击选中事件
        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('warning');
        });


    }
    //导出
    $("#excel_out").click(function () {
        //console.log(1);
        layer.confirm('是否导出筛选结果', {
            btn: ['确定导出', '取消导出']
        }, function (index) {
            layer.close(index);
            var param = "type="+$("#type").val()+"&name="+$("#name").val()+"&phone="
                +$("#phone").val()+"&paytime="+$("#paytime").val()+"&payway="+$("#payway").val();
            window.open("{:url('Financial/exportExcel')}"+"/1?"+param);
        });
    })
    function initEvent() {
        var checkAll = $('input.all');  //全选的input
        var checkboxs = $('input.check'); //所有单选的input

        checkAll.on('ifChecked ifUnchecked', function (event) {
            if (event.type == 'ifChecked') {
                checkboxs.iCheck('check');
            } else {
                checkboxs.iCheck('uncheck');
            }
        });

        checkboxs.on('ifChanged', function (event) {
            if (checkboxs.filter(':checked').length == checkboxs.length) {
                checkAll.prop('checked', true);
            } else {
                checkAll.prop('checked', false);
            }
            checkAll.iCheck('update');
        })
    }

</script>
{/block}
