{extend name='extra@admin/content' /}

{block name="style"}
<link href="//cdn.bootcss.com/wangeditor/2.1.20/css/wangEditor.css" rel="stylesheet">
{/block}
{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
	<a type="button" class="layui-btn layui-btn-small"   data-open='{:url("$classuri/addueditor")}'   data-title="添加文章"><i class="fa fa-plus"></i>  添加文章</a>
	<button data-update data-field='delete' data-action='{:url("$classuri/del")}'
					class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除文章
	</button>
</div>
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form action={:url("$classuri/add")} enctype="multipart/form-data" method="post">
	<input type="file" name="image" /> <br>
	<input type="submit" value="上传" />
</form>
{/block}