{extend name='extra@admin/content' /}

{block name="style"}
<link href='https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css' rel='stylesheet'>
{/block}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
    <div class="head_box">
        <span href="javascript:void(0);">分享管理</span>
        <span> >> </span>
        <span href="javascript:void(0);">分享列表</span>
    </div>
    <div class="con_box">
        <h1 class="h1">分享列表 <span>（共<b id="totalnum">0</b>条）</span></h1>
        <div class="operate_box">
            <form class="form-inline">
                <div class="form-group mr_20">
                    <input type="text" class="form-control" placeholder="输入用户名" id="name" name="name"  autocomplete="off">
                </div>
                <select class="form-control" id="type" name="type">
                    <option value="all">选择端口</option>
                    <option value="0">货主端</option>
                    <option value="1">司机端</option>
                </select>
                <button type="button" class="btn btn-primary" id="searchVal"><i class="fa fa-search"></i> 搜索</button>
            </form>
            <div class="operate_tab">
                <div class="operate_tab_btn">
                    <!--<button id="remove_btn" type="button" class="btn btn-info mr_20">删除</button>-->
                    <!--<button type="button" class="btn btn-info">刷新</button>-->
                </div>
                <div class="operate_table">
                    <table id="example" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th class='list-table-check-td'>
                                序号
                            </th>
                            <th>账户ID</th>
                            <th>账户名称</th>
                            <th>显示端口</th>
                            <th>分享次数</th>
                            <th>已获得佣金</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{/block}

{block name="script"}
<script>
    require(["jquery.dataTables", "icheck"], function () {
        require(["dataTables.bootstrap"], function () {
            $(document).ready(function () {
                initPage();
                initEvent();
            });
        })
    });

    function initPage() {

//        $('input').iCheck({
//            checkboxClass: 'icheckbox_minimal',
//            radioClass: 'iradio_minimal',
//            increaseArea: '20%' // optional
//        });
        $.fn.dataTable.ext.errMode = 'none'; //不显示任何错误信息

        var table = $('#example').DataTable({
            //paging: false, 设置是否分页
            "info": true,  //去除左下角的信息
            "lengthChange": false, //是否允许用户改变表格每页显示的记录数
            "ordering": false, //是否允许Datatables开启排序
            "searching": false,  //是否允许Datatables开启本地搜索
            language: {
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页",
                },
                "sEmptyTable": "暂无数据",
                "info":"当前总记录数_TOTAL_条",
                "sInfoEmpty": "当前总记录数_TOTAL_条",
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '{:url("Share/getShareList")}',
                "type": "POST",
                "data": function (parameter) {
                    //添加额外的参数传给服务器
                    parameter.name = $("#name").val();
                    parameter.type = $("#type").val();
                },
            },
            "pageLength": 10,
            "columns": [
                {"data": "check"},
                {"data": "accountid"},
                {"data": "sharename"},
                {"data": "typename"},
                {"data": "num"},
                {"data": "total"},
            ],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $('td:eq(0)', nRow).addClass('list-table-check-td');
            },
            "drawCallback": function (settings) {
                //console.log(settings.json.recordsFiltered);
                $("#totalnum").html(settings.json.recordsFiltered);
            },
        });
        $("#searchVal").on('click', function () {
            //console.log(orderTables);
            table.ajax.reload();
        })

        // tr点击选中事件
        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('warning');
        });

    }

    function initEvent() {
        var checkAll = $('input.all');  //全选的input
        var checkboxs = $('input.check'); //所有单选的input

        checkAll.on('ifChecked ifUnchecked', function (event) {
            if (event.type == 'ifChecked') {
                checkboxs.iCheck('check');
            } else {
                checkboxs.iCheck('uncheck');
            }
        });

        checkboxs.on('ifChanged', function (event) {
            if (checkboxs.filter(':checked').length == checkboxs.length) {
                checkAll.prop('checked', true);
            } else {
                checkAll.prop('checked', false);
            }
            checkAll.iCheck('update');
        })
    }
</script>
{/block}