{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
  <div class="head_box">
    <a href="javascript:void(0);">财务管理</a>
    <span> >> </span>
    <a href="javascript:void(0);">提现申请</a>
    <span> >> </span>
    <a href="javascript:void(0);">提现详情</a>
  </div>
  <div class="con_box">
    <p class="p_tit"><span class="glyphicon glyphicon-align-justify"></span>提现详情</p>
    <div class="money_tab">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td class="col-sm-4">手机号码：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">姓名：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">申请时间：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">申请金额：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">账户余额：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">银行名称：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">银行帐号：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">开户人：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">处理结果：</td>
          <td class="col-sm-8"></td>
        </tr>
        <tr>
          <td class="col-sm-4">备注：</td>
          <td class="col-sm-8"></td>
        </tr>
        </tbody>
      </table>
      <div class="money_btn">
        <button type="button" class="btn btn-primary mr_20">确定</button>
        <button type="button" class="btn btn-primary">取消</button>
      </div>
    </div>
  </div>
</main>
{/block}

{block name="script"}

{/block}
