{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">财务管理</a>
        <span> >> </span>
        <a href="javascript:void(0);">提现申请</a>
        <span> >> </span>
        <a href="javascript:void(0);">提现详情</a>
    </div>
    <div class="con_box">
        <p class="p_tit"><span class="glyphicon glyphicon-align-justify"></span>提现详情</p>
        <div class="money_tab">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="col-sm-4">手机号码：</td>
                    <td class="col-sm-8">{$item.phone}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">姓名：</td>
                    <td class="col-sm-8">{$item.name}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">申请时间：</td>
                    <td class="col-sm-8">{if $item.create_at neq ''}{$item.create_at|date='Y-m-d',###}{/if}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">申请金额：</td>
                    <td class="col-sm-8">{$item.amount}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">账户余额：</td>
                    <td class="col-sm-8">{$item.balance}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">银行名称：</td>
                    <td class="col-sm-8">{$item.bankname}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">银行帐号：</td>
                    <td class="col-sm-8">{$item.bankname}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">开户人：</td>
                    <td class="col-sm-8">{$item.bankname}</td>
                </tr>
                <tr>
                    <td class="col-sm-4">处理结果：</td>
                    <td class="col-sm-8">
                        <select class="form-control" id="status" name="status" style="width: 40%">
                            <option value="0" {if $item.status eq 0}selected{/if}>未处理</option>
                            <option value="1" {if $item.status eq 1}selected{/if}>处理成功</option>
                            <option value="2" {if $item.status eq 2}selected{/if}>已拒绝</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-4">备注：</td>
                    <td class="col-sm-8"><textarea id="remark" style="width: 40%;height: 100px">{$item.remark}</textarea></td>
                </tr>
                </tbody>
            </table>
            <div class="money_btn">
                <button type="button" class="btn btn-primary mr_20" id="dealresult" >确定</button>
                <!--<button type="button" class="btn btn-primary">取消</button>-->
            </div>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    var detailid = '{$id}';
    $("#dealresult").click(function () {
        var result = $("#status").val();
        var text = $("#status").find("option:selected").text();
        var titile = '确定要状态改为'+text+'?';
        layer.confirm(titile, {
            btn: ['确定', '取消']
        }, function (index) {
            layer.close(index);
            layer.load();
            $.ajax({
                'url' : '{:url("Withdraw/dealresult")}',
                'type' : 'POST',
                'data' : {
                    'id':detailid,
                    'status':result,
                    'remark':$("#remark").val(),
                },
                'complete' : function(){
                },
                'success' : function(obj){
                    layer.closeAll();
                    if(obj.code == 2000){
                        layer.msg('操作成功', function(){
                            location.reload();
                        });
                    }else{
                        layer.alert(obj.msg);
                    }
                },
                'error' : function(){
                    layer.closeAll();
                    layer.alert('请求失败');
                }
            });
        });
    })
</script>
{/block}
