{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <span href="javascript:void(0);">系统设置</span>
        <span> >> </span>
        <span href="javascript:void(0);">保证金设置</span>
    </div>
    <div class="con_box">
        <h1 class="h1">保证金设置</h1>
        <div class="operate_box">
            <div class="commission">
                <form class="form-horizontal" onsubmit="return check();"
                      method="post">
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-3 control-label">个人货主保证金&nbsp;:&nbsp;</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="bond_person_amount" id="bond_person_amount" placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('bond_person_amount')}"   onkeyup="if(isNaN(value))value=''"  autocomplete="off" >
                        </div>

                    </div>
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-3 control-label">公司货主保证金&nbsp;:&nbsp;</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="bond_company_amount" id="bond_company_amount" placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('bond_company_amount')}"  onkeyup="if(isNaN(value))value=''"  autocomplete="off" >
                        </div>

                    </div>
                    <div class="form-group custom_btn" style="min-height: 24px">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-7">
                            <span id="showmsg"></span>
                        </div>
                    </div>
                    <div class="form-group custom_btn">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary" style="margin-left: 8px;">确定</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{/block}

{block name="script"}
<script type="text/javascript">
    $('#bond_person_amount,#bond_company_amount').blur(function () {
        var pattern_amount = /(^[0-9]+(.[0-9]{1,2})?$)/;
        var flag = 0;
        if(!(pattern_amount.test($("#bond_person_amount").val()) && pattern_amount.test($("#bond_company_amount").val()))){
            $("#showmsg").html('金额只能是整数或者两位小数');
            flag = 1;
        }else{
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
    });

    function check() {
        var pattern_amount = /(^[0-9]+(.[0-9]{1,2})?$)/;
        var flag = 0;
        if(!(pattern_amount.test($("#bond_person_amount").val()) && pattern_amount.test($("#bond_company_amount").val()))){
            $("#showmsg").html('金额只能是整数或者两位小数');
            flag = 1;
        }else{
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
        if (!$("#showmsg").html() == '') {
            return false;
        }
        $.post(
            "{:url('Config/change')}",
            {
                bond_person_amount: $("#bond_person_amount").val(),
                bond_company_amount: $("#bond_company_amount").val(),
            },
            function (obj) {
                layer.msg('修改成功');
                location.reload();
                return true;
            }
        );
        return false;
    }
</script>
{/block}
