{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">系统设置</a>
        <span> >> </span>
        <a href="javascript:void(0);">保险费率设置</a>
    </div>
    <div class="con_box">
        <h1 class="h1">保险费率设置</h1>
        <div class="operate_box">
            <div class="commission">
                <form class="form-horizontal" onsubmit="return check();"
                      method="post" style="font-size: 14px;">
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-2 control-label ">保险费率&nbsp;:&nbsp;</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="premium_rate" id="premium_rate" placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('premium_rate')}"   onkeyup="if(isNaN(value))value=''"   autocomplete="off">
                        </div>
                        <label class="col-sm-2 control-label " style=" text-align: left;margin-left: -100px;">%
                        </label>
                    </div>
                    <div class="form-group custom_btn" style="min-height: 24px">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <span id="showmsg"></span>
                        </div>
                    </div>
                    <div class="form-group custom_btn">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    $('#premium_rate').blur(function () {
        var pattern_amount = /(^[0-9]+(.[0-9]{1,})?$)/;
        var flag = 0;
        if(!(pattern_amount.test($("#premium_rate").val()) && pattern_amount.test($("#premium_rate").val()))){
            $("#showmsg").html('数字不符合要求');
            flag = 1;
        }else{
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
    });
    function check() {
        var pattern_amount = /(^[0-9]+(.[0-9]{1,})?$)/;
        var flag = 0;
        if(!(pattern_amount.test($("#premium_rate").val()) && pattern_amount.test($("#premium_rate").val()))){
            $("#showmsg").html('数字不符合要求');
            flag = 1;
        }else{
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
        if (!$("#showmsg").html() == '') {
            return false;
        }
        $.post(
            "{:url('Config/change')}",
            {
                premium_rate: $("#premium_rate").val(),
            },
            function (obj) {
                layer.msg('修改成功');
                location.reload();
                return true;
            }
        );
        return false;
    }
</script>
{/block}
