{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">

    <div class="con_box">
        <h1 class="h1">转账账户管理</h1>
        <div class="operate_box">
            <div class="commission">
                <form class="form-horizontal" onsubmit="return check();"
                      method="post">
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-2 control-label">转账账户&nbsp;:&nbsp;</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tran_account" id="tran_account" placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('tran_account')}">
                        </div>

                    </div>
                    <div class="form-group custom_btn">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <span id="showmsg"></span>
                        </div>
                    </div>
                    <div class="form-group custom_btn">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    $('#tran_account').blur(function () {
        var pattern = /(^\d+$)/;
        var flag = 0;
        if(!(pattern.test($("#tran_account").val()) && pattern.test($("#tran_account").val()))){
            $("#showmsg").html('账号不符合规则');
            flag = 1;
        }
        if(flag != 1){
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
    });
    function check() {
        var pattern = /(^\d+$)/;
        var flag = 0;
        if(!(pattern.test($("#tran_account").val()) && pattern.test($("#tran_account").val()))){
            $("#showmsg").html('账号不符合规则');
            flag = 1;
        }
        if(flag != 1){
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
        if (!$("#showmsg").html() == '') {
            return false;
        }
        $.post(
            "{:url('Config/change')}",
            {
                'tran_account': $("#tran_account").val(),
            },
            function (obj) {
                location.reload();
            }
        );
    }
</script>
{/block}
