{extend name='extra@admin/content' /}

{block name="button"}

{/block}


{block name="content"}
<main class="main">
    <div class="head_box">
        <span href="javascript:void(0);">系统设置</span>
        <span> >> </span>
        <span href="javascript:void(0);">提现日期设置</span>
    </div>
    <div class="con_box">
        <h1 class="h1">提现日期设置</h1>
        <div class="operate_box">
            <div class="commission">
                <form class="form-horizontal" onsubmit="return check();"
                      method="post" id="form1" data-listen="">
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-4 control-label ">账户余额可提现开始:&nbsp;</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control " id="withdraw_begintime" name="withdraw_begintime"

                                   autocomplete="off"
                                   placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('withdraw_begintime')}" min="1"
                                   max="30"
                                   onkeyup="this.value=this.value.replace(/\D/g,'');if(this.value > 30 ) this.value=1">号
                        </div>

                    </div>
                    <div class="form-group" style="margin: 0 0 15px 0;">
                        <label class="col-sm-4 control-label ">账户余额可提现结束:&nbsp;</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control " id="withdraw_endtime" name="withdraw_endtime"

                                   autocomplete="off"
                                   placeholder=""
                                   style="float:left; width: 80%" value="{:sysconf('withdraw_endtime')}" min="1"
                                   max="30"
                                   onkeyup="this.value=this.value.replace(/\D/g,'');if(this.value > 30 ) this.value=30;">号
                        </div>

                    </div>
                    <div class="form-group custom_btn" style="min-height: 24px">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <span id="showmsg"></span>
                        </div>
                    </div>
                    <div class="form-group custom_btn">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">确定</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    require(["jquery.dataTables", "icheck", "laydate"], function () {
        require(["dataTables.bootstrap"], function () {
            $(document).ready(function () {
                initPage();

            });
        })
    });

    function initPage() {

        //时间日期选择器
        $(".date_time").focus(function () {
            /*
             laydate插件提供显示日期控件的方法
             laydate(options)
             * options - 选项,格式为 { key : value }
             * 选项
             * format - 日期格式
             *
             默认格式为 YYYY-MM-DD hh:mm:ss(标准格式)
             * 客户端
             * 服务器端
             * 数据库
             * istime - 是否开启时间选择
             * 默认值为false,不开启
             * isclear - 是否显示清空按钮
             * istoday - 是否显示今天按钮
             * issure - 是否显示确认按钮
             */
            laydate({
                format: "YYYY-MM-DD",
                //istime : true,
                isclear: true,
                istoday: true,
                issure: true
            });
        });
    }
</script>

<script type="text/javascript">
    $('#withdraw_begintime,#withdraw_endtime').blur(function () {
        if ($("#withdraw_begintime").val() - $("#withdraw_endtime").val() > 0) {
            $("#showmsg").html('开始时间必须小于结束时间');
        } else {
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
    });

    function check() {
        if ($("#withdraw_begintime").val() - $("#withdraw_endtime").val() > 0) {
            $("#showmsg").html('开始时间必须小于结束时间');
        } else {
            $("#showmsg").html('');
        }
        $("#showmsg").css({"color": "red"});
        if (!$("#showmsg").html() == '') {
            return false;
        }
        $.post(
            "{:url('Config/change')}",
            {
                withdraw_begintime: $("#withdraw_begintime").val(),
                withdraw_endtime: $("#withdraw_endtime").val(),
            },
            function (obj) {
                layer.msg('修改成功');
                location.reload();
                return true;
            }
        );
        return false;
    }
</script>
{/block}
