{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}
<main class="main">
    <div class="head_box">
        <a href="javascript:void(0);">货主管理</a>
        <span> >> </span>
        <a href="javascript:void(0);">公司货主</a>
        <span> >> </span>
        <a href="javascript:void(0);">公司货主详情</a>
    </div>
    <div class="con_box">
        <p class="p_tit"><span class="glyphicon glyphicon-align-justify"></span> 公司货主详情</p>
        <div class="details_box">
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>企业信息</h3>
                <span class="hr_span"></span>
            </div>
            <div class="info_table">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">公司名称</td>
                        <td class="col-sm-6">{$item.com_name|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">营业执照号</td>
                        <td class="col-sm-6">{$item.com_buss_num|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">法人姓名</td>
                        <td class="col-sm-6">{$item.law_person|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">法人身份证号</td>
                        <td class="col-sm-6">{$item.com_identity|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">企业联系电话</td>
                        <td class="col-sm-6">{$item.phone|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">地址</td>
                        <td class="col-sm-6">{$item.address|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">开户名称</td>
                        <td class="col-sm-6">{$item.deposit_name|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">开户行</td>
                        <td class="col-sm-6">{$item.bank|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">结算账号</td>
                        <td class="col-sm-6">{$item.account|default=''}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-6">保证金金额</td>
                        <td class="col-sm-6">{:number_format($item.bond,2)}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="authentication">
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>认证信息</h3>
                <span class="hr_span"></span>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.com_front_pic) && $item.com_front_pic neq ''}
                    <img src="{$item.com_front_pic}" alt="法人身份证正面照">
                    {else/}
                    法人身份证正面照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.com_back_pic) && $item.com_back_pic neq ''}
                    <img src="{$item.com_back_pic}" alt="法人身份证反面照">
                    {else/}
                    法人身份证反面照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.buss_pic) && $item.buss_pic neq ''}
                    <img src="{$item.buss_pic}" alt="营业执照">
                    {else/}
                    营业执照
                    {/if}
                </section>
            </div>
            <div class="datails_tit">
                <span class="hr_span"></span>
                <h3>操作人信息</h3>
                <span class="hr_span"></span>
            </div>
            <div class="info_table">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-sm-6">操作人身份证号</td>
                        <td class="col-sm-6">{$item.person_identity|default=''}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.hold_pic) && $item.hold_pic neq ''}
                    <img src="{$item.hold_pic}" alt="手持身份证照片">
                    {else/}
                    手持身份证照片
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.person_front_pic) && $item.person_front_pic neq ''}
                    <img src="{$item.person_front_pic}" alt="身份证正面照">
                    {else/}
                    身份证正面照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_img">
                    {if isset($item.person_back_pic) && $item.person_back_pic neq ''}
                    <img src="{$item.person_back_pic}" alt="身份证反面照">
                    {else/}
                    身份证反面照
                    {/if}
                </section>
            </div>
            <div class="auth_box">
                <section class="auth_btn">
                    {if condition="$item.auth_status eq 'check'"}
                    <button type="button" class="btn btn-primary" id="pass">通过审核</button>
                    <button type="button" class="btn btn-primary" id="refuse" data-reason="确定拒绝审核？" >拒绝审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">冻结账户</button>
                    {/if}
                    {if condition="$item.auth_status eq 'pass'"}
                    <button type="button" class="btn btn-primary">已经通过审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">拒绝审核</button>
                    {if condition="$item.bond_status eq 'checked'"}
                    <button type="button" class="btn btn-primary" id="frozen" data-reason="确定冻结账户？">冻结账户</button>
                    {/if}
                    {if condition="$item.bond_status eq 'frozen'"}
                    <button type="button" class="btn btn-primary" id="unfrozen" data-reason="确定取消冻结账户？">取消冻结账户</button>
                    {/if}
                    {if condition="$item.bond_status neq 'checked' and $item.bond_status neq 'frozen'"}
                    <button type="button" class="btn btn-primary">未缴纳保证金</button>
                    {/if}
                    {/if}
                    {if condition="$item.auth_status eq 'refuse'"}
                    <button type="button" class="btn btn-primary" disabled="disabled">通过审核</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">{$item.auth_info}</button>
                    <button type="button" class="btn btn-primary" disabled="disabled">冻结账户</button>
                    {/if}
                    {if condition="$item.is_black eq '0'"}
                    <button type="button" class="btn btn-primary" id="black" data-reason="确定加入黑名单？">加入黑名单</button>
                    {else /}
                    <button type="button" class="btn btn-primary" id="unblack"  data-reason="确定拉回白名单？">拉回白名单</button>
                    {/if}
                </section>
            </div>
        </div>
    </div>
</main>
{/block}

{block name="script"}
<script>
    //调用示例
    layer.photos({
        photos: '.auth_img'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
</script>
<script>
    var detailid = '{$id}';
    $("#pass").click(function () {
        layer.confirm('是否通过审核', {
            btn: ['确定', '取消']
        }, function (index) {
            layer.close(index);
            layer.load();
            $.ajax({
                'url' : '{:url("Shipper/pass")}',
                'type' : 'POST',
                'data' : {
                    'id':detailid
                },
                'complete' : function(){
                },
                'success' : function(obj){
                    layer.closeAll();
                    if(obj.code == 2000){
                        layer.msg('通过审核', function(){
                            location.reload();
                        });
                    }else{
                        layer.alert(obj.msg);
                    }
                },
                'error' : function(){
                    layer.closeAll();
                    layer.alert('请求失败');
                }
            });
        });
    })
    $("#black,#unblack,#unfrozen,#frozen,#refuse").click(function () {
        var titile = $(this).attr('data-reason');
        var type = $(this).attr('id');
        layer.prompt({
            formType: 0,
            value: '',
            title: titile,
        }, function (value, index, elem) {
            //alert(value); //得到value
            layer.close(index);
            layer.load();
            $.ajax({
                'url' : '{:url("Shipper/auth")}',
                'type' : 'POST',
                'data' : {
                    'id':detailid,
                    'type':type,
                    'title':value,
                    'phone':'{$item.phone}'
                },
                'complete' : function(){
                },
                'success' : function(obj){
                    layer.closeAll();
                    if(obj.code == 2000){
                        layer.msg('操作成功');
                        location.reload();
                    }else{
                        layer.alert(obj.msg);
                    }
                },
                'error' : function(){
                    layer.closeAll();
                    layer.alert('请求失败');
                }
            });
        });
    })
</script>

{/block}
